* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shia_box {
    border: 1px solid black;
    text-align: center;
    width: 600px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 20px;
} 
img {
    height: 450px;
    width: 500px;
    margin: 20px;
    border-radius: 5px;
}