* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
}
section {
    border: 1px solid black;
}
.header {
    background-image: url("http://www.csszengarden.com/214/koi.jpg"); 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    text-align: center;
}
.head-left {
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    /* height: 200px; */
}
.banner-img {
    background-image: url("http://www.csszengarden.com/214/enso.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin: 15px 40%;
    opacity: 0.6;

}
.head-left h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20pt;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
}

.head-left h2 {
    font-family: "Libre Baskerville";
    color: rgba(255, 255, 255, 0.728);
    opacity: 0.8;
    font-size: 14pt;
    -webkit-font-smoothing: antialiased;
}

.head-right {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}
.head-right button {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    color: #FFFFFF;
    margin: 25px;
    opacity: 0.9;
    -webkit-font-smoothing: antialiased;
}
.all-designs-arrow::after {
    content: ">";
    font-family: "icomoon";
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
    font-size: 44px;
    opacity: 0.6;
    /* line-height: 70px; */
    position: absolute;
    right: 15px;
    top: 12px;
}

.download-files {
    display: none;
}

.main {
    display: grid;
    background-color: #FFFFFF;;
    padding: 2em;
}

h3 {
    margin: 1em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
}
p {
    line-height: 2;
    font-size: 1.2em;
    margin: 0.75em 0;
    color: #325050;
}
.participate {
    background-color: rgba(181, 207, 192, 0.643);
}
.footer {
    background-image: url("http://www.csszengarden.com/214/koi.jpg");
    text-align: center;
}
.about p {
    font-family: "Libre Baskerville";
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    padding: 10px;
}
.specific-words {
    font-family: none;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
}
.logos {
    background-image: none;
    background-color: #134347;
    padding: 2em 5%;
}
a:visited {
    color: #134347;
}
.logos a::before {
    color: rgba(255, 255, 255, 0.3);  
    font-size: 36px;
    margin: 0 0.2em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.html_icon::before {
    content: "5";
    font-family: "icomoon";
}
.css_icon::before {
    content: "3";
    font-family: "icomoon";
}
.cc_icon::before {
    content: "c";
    font-family: "icomoon";
}
.ally_icon::before {
    content: "a";
    font-family: "icomoon";
}
.github_icon::before {
    content: "g";
    font-family: "icomoon";
}

.authors {
    padding: 0;
    background-color: #d9e3dc;
    color: #616857;
}
h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 12px 0 0 20px;
}
.authors p {
    margin: 0 0 0 20px;
}
.by {
    font-family: "Libre Baskerville";
    color: #95ac9c;
}

.links {
    background-color: rgba(138,188,159,0.5);
    background-image: url(bamboo.png);
    padding: 0;

}

.links a {
    text-decoration: none;
    color: #607476;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 20px;
    border-top: solid 1px #a0b9ad;
}










@media (min-width: 1024px){
    body {
    display: grid;
    grid-template-columns: 2fr 1fr;

    }
    .header {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
    .head-left {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .head-left h1 {
        text-align: left;
        font-size: 32pt;
        grid-column-start: 2;
        grid-row-start: 2;
        margin: 15px 0px 10px 0px;
    }
    .head-left h2 {
        text-align: left;
        grid-column-start: 2;
        grid-row-start: 2;
        margin-top: 71px;
    }
    .banner-img {
        margin: 40px 25%;
        grid-column-start: 1;
        grid-row: 1/4;
    }
    .head-right {
        display: grid;
        grid-template-columns: 75px 2fr 70px;
        grid-template-rows: repeat(3, 66.66px);
    }
    .head-right button {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0;
        width: 100%;
        padding: 10px 0 10px 0;
        background: rgba(255,255,255,0.1);
        text-decoration: none;
        position: relative;
        border: none;
    }
    .all-designs-arrow::after {

        /* WTF is wrong with this?? */
        position: absolute;
    right: -46px;
    top: 0px;
    border-left: 1px solid rgba(255,255,255,0.5);
    background: rgba(255, 255, 255, 0.1);
    padding: inherit;
    }
    .download-files {
        display: inline;
    }
    .downloads::before {
        content: "D";
        font-family: "icomoon";
        font-size: 16px;
        color:red;
        background-color: blue;
    }



}