* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
div {
    height: 22.3vh;
    display: inline-block;
}
.light-pink {
    background-color: #F5C6D6;
    display: block;
}

.hot-pink {
    background-color: #EF2D84;
    width: 24%;
    margin: 7.9px;
}

.light-blue {
    background-color: #85CFD8;
    width: 48.8%;
}

.green {
    background-color: #8DC63F;
    width: 73.8%
}

.orange {
    background-color: #E76D34;
    width: 23.7%
}

