/* body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
div {
    height: 22.3vh;
    display: inline-block;
}
.light-pink {
    background-color: #F5C6D6;
    display: block;
}

.hot-pink {
    background-color: #EF2D84;
    width: 23.77%;
 }

.light-blue {
    background-color: #85CFD8;
    width: 48.8%;
}

.green {
    background-color: #8DC63F;
    width: 73.8%
}

.orange {
    background-color: #E76D34;
    width: 23.7%
} 
*/ 

/* @media (max-width: 800px){
    .hot-pink {
        width: calc(100% / 4.43);
    }
    .light-blue {
        width: 47.7%
    }
    .green {
        width: 71%
    }
} */

* {
    box-sizing: border-box;
    font-size: 0px;
}

.container {
    height: 5`00px;
    width: 55%;
    background-color: red;
    margin: auto;
}
.row {
    height: 25%;
    width: 100%;
}
.row > div {
    border: 5px solid white;
    display: inline-block;
    height: 100%;
}
.light-pink {
    background-color: #F5C6D6;
    width: 100%;
}
.hot-pink {
    background-color: #EF2D84;
    width: 25%;
    border: 1px solid white;
}
.light-blue {
    background-color: #85CFD8;
    width: 50%;
    border: 1px solid white;
}
.green {
    background-color: #8DC63F;
    width: 75%;
}
.orange {
    background-color: #E76D34;
    width: 25%;
}