* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flag {
    height: 400px;
    width: 600px;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
}

/*------------ FRANCE ----------*/
.france {
    display: flex;
}
.france-blue {
    background-color: blue;
    width: calc(100% / 3);
}
.france-white {
    width: calc(100% / 3);
}
.france-red {
    background-color: red;
    width: calc(100% / 3);
}
/*------Germany------------*/
.germany div {
    height: calc(100% / 3);
}
.germany-black {
    background-color: black;
}
.germany-red {
    background-color: red;
}
.germany-yellow {
    background-color: yellow;
}

/*------Madagascar---------*/
.mada-red {
    background-color: red; 
    height: 50%;
    width: calc(100% / 1.55);
    float: right;
}
.mada-green {
    background-color: green;
    height: 50%;
    width: calc(100% / 1.55);
    float: right;
}

/*-----------Switzerland---------*/
.switzerland {
    background-color: red;
}
.vertical {
    background-color: #fff;
    width: 100px;
    height: calc(100% / 1.4);
    margin: 57px auto;
}
.horizontal {
    background-color: #fff;
    height: 100px;
    width: 50%;
    margin: -250px auto;
}

/*--------Sweden----------*/
.sweden {
    background-color: #2969A2;
}
.swede-vertical {
    background-color: #F7CD46;
}
.swede-horizontal {
    background-color: #F7CD46;
}