* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}
.App {
  min-height: 100vh;
  background-color: #EBEAF8;
}

.Header {
  width: 100%;
  background-color: #5951B7;
  padding: 20px;
}

.header-title {
  font-size: 14pt;
  color: #fff;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form {
  min-height: 82vh;
  background-color: #EBEAF8;
  padding: 20px;
}

legend {
  font-size: 19pt;
  text-transform: uppercase;
  color: #707070;
  padding: 20px 0;
}

.input-container {
  background-color: #919191;
  padding: 25px;
  border-radius: 7px;
}

.input-container input, .form-btn {
  margin: 10px 0;
  padding: 10px;
  border-radius: 7px;
  background-color: #EBEAF8;
  width: 100%;
}

a {
  text-decoration: none;
  color: #5951B7;
}

a:hover {
  text-decoration: underline;
}

.form-btn {
  border: 1px solid #5951B7;
  background-color: #5951B7;
  color: #fff;
  
}

.Footer {
  width: 100%;
  padding: 10px;
  background-color: #5951B7;
  position: relative;
  bottom: 0;
  color: #fff;
}
.Footer a {
  color: #fff;
}

img {
  height: 200px;
  width: 140px;
}
.Home {
  background-color: #5951b7;
  padding: 20px;
  color: #fff;
  min-height: 100%;
}

.home-message {
  margin-bottom: 10px;
  font-size: 21pt;
  text-shadow: 2px 2px 2px #707070;
}

.home-btns{
  background-color: #EBEAF8;
  color: #707070;
  border-radius: 7px;
  padding: 20px;
  margin: 10px auto;
  font-size: 9pt;
  font-weight: 500;
  box-shadow: 2px 2px 5px #707070;
}
.back-btn {
  padding: 10px;
  margin-top: 20px;
  border-radius: 7px;
  background-color: #919191;
  color: #fff;
  box-shadow: 2px 2px 5px #707070;
}
.movie-list {
  background-color: #EBEAF8;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.list-item {
  background-color: #919191;
  padding: 20px;
  border-radius: 7px;
  width: 275px;
}

.list-item h1 {
  font-size: 14pt;
}
.list-item p {
  font-size: 10pt;
}

.selected-container {
  margin: 20px;
  background-color: #919191;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selectedImg {
  height: 336px;
  width: 225px;
  margin: 10px 0;
}
.selected-btn {
  padding: 10px;
  border-radius: 7px;
  background-color: #5951B7;
  color: #fff;
}

.movie-info {
  margin: 10px 0;
  color: #5951B7;
}
.movie-info p {
  padding: 10px 0;
}
.movie-info a:hover {
  color: #fff;
  font-size: 14pt;
}

.page-numbers {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.page {
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
}

@media(min-width: 375px ) {
  .Home {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    padding: 30px;
  }
  .home-btns {
    font-size: 12pt;
  }
  .header-title {
    font-size: 20pt;
  }
}

@media(min-width: 1024px){
  .Home {
    height: 87vh;
    justify-content: center;
    padding: 9%;
  }
  .header-title, .home-message, legend {
    font-size: 30pt;
  }
  .Form {
    width: 70%;
  }
  .input-container input, .form-btn {
    padding: 20px;
    margin: 20px 0;
  }

  .list-item {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 33.3%);
    grid-template-areas: "pic title title" "pic title title" "pic type .";
  }
  img {
    grid-area: pic;
  }
  .list-item h1 {
    grid-area: title;
    font-size: 22pt;
    text-align: start;
  }
  .list-item p {
    grid-area: type;
    text-align: start;
    align-self: end;
  }
  .back-btn {
    font-size: 12pt;
  }
  .selectedImg {
    height: 436px;
    width: 300px;
  }
  .selected-container {
    margin: 5% 12%;
    padding: 3% 7%;
  }
  .selected-btn {
    padding: 15px;
    font-size: 12pt;
  }
  .movie-info {
    font-size: 14pt;
  }
}

@media(min-width: 1280px){
  .Home {
    height: 89vh;
  }
  .movie-info {
    font-size: 18pt;
  }
  .movie-results {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1440px){
  .Home {
    padding: 0;
  }
  .home-message {
    padding: 0 10%;
  }
  .selectedImg {
    height: 736px;
    width: 600px;
  }
}

@media(min-width: 1920px){
  .movie-results {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .selected-btn {
    padding: 20px;
    font-size: 16pt;
  }
  .selectedImg {
    height: 836px;
    width: 700px;
  }
}